html {
  font-size: 20px;
}
body {
  font-family: "Arial", "Meiryo", sans-serif; 
  text-align: center; 
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
    font-family: 'Note Sans JP', sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 3px gray;
  border-bottom: solid 3px rgb(115,115,114);
}
#basic h2 {
  font-size: 20px;
  text-align: center; 
}
#basic > p {
  font-size: 20px;
  text-align: center; 
  font-weight: bold;
}
