.body {
  font-family: "Arial", "Meiryo", sans-serif; 
  font-size: 20px;
  text-align: center; 
}
html {
  font-size: 20;
}
.h1 {
    font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 3px gray;
  border-bottom: solid 3px rgb(115,115,114);
}
#basic h2 {
  font-family: "Arial", "Meiryo", sans-serif; 
  font-size: 20px;
  text-align: center; 
}
#basic > p {
  font-family: "Arial", "Meiryo", sans-serif; 
  font-size: 20px;
  text-align: center; 
  font-weight: bold;
}
