.h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size:40px;
  text-align: center;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 3px gray;
  border-bottom: solid 3px rgb(115,115,114);
}
.h2 {
  font-family: "Arial","Meiryo",sans-serif;
  font-size: 20px;
  color: rgb(255,192,203);
  text-align: center;
}
.heading {
  font-family: "Arial","Meiryo",sans-serif;
  font-size: 20px;
  color: skyblue;
  text-align: center;
}
.p {
  font-family: "Arial","Meiryo",sans-serif;
  font-size: 20px;
  text-align: center;
}
#basic p {
  font-family: "Arial","Meiryo",sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
